<div id="profile" style="height: 200px;">
	<div id="profile1">
		<div id="pro-image" style="height: 160px;">
			<a href="__LINKTHANHVIEN__">
				<img id="__HINHTHANHVIEN__" onload="resize('__HINHTHANHVIEN__')" src="__HINHTHANHVIEN__"/>
			</a>
		</div>
	</div>
	<a href="__LINKTHANHVIEN__">
		<span id="hoten">__DANHXUNG__&nbsp __TENTHANHVIEN__</span>
	</a>
	<br/>	
	__TRINHDOCHUYENMON__<br/>
	<span id="chucvu">__NGANH____CHUYENNGANH__</span><br/>
	<span id="email"><a href="mailto:__EMAIL__">Email</a></span><br/>	
</div>