<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("../../trangchu/vi/header.html")?>
<!-- MENU END-->
						<!-- <li>
							<a href="javascript:;" class="tabLink activeLink" id="nganh1">Thông tin chung</a> 											
						</li> -->
	<div id="noidung">
		<table class="noidung" cellpadding="0" cellspacing="0">
			<tr>
				<td class="left" style="width: 200px;">
					<h3>
						Các ngành
					</h3>
					<ul><?php include("../../trangchu/vi/menu_nganh.html")?></ul>
				</td>				
				<td class="right">
					<h3>
						__TENNGANH__
					</h3>
					<div class="right">
						__THANHVIENNGANH__
					</div>
				</td>
			</tr>
		</table>
	</div>
	</div>
<?php include("../../trangchu/vi/footer.html")?>
