<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon">
	<meta name="description" content="Danh sách Bác sĩ __TENNGANH__ chia sẻ kiến thức y học, sức khỏe" />	
	<title>Bác sĩ __TENNGANH__</title>	
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="<?php echo curPageURL(); ?>">
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063"/>
	<meta property="og:title" itemprop="headline" content="Bác sĩ __TENNGANH__"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="Danh sách Bác sĩ __TENNGANH__ chia sẻ kiến thức y học, sức khỏe"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="http://www.yhoccongdong.com/images/logo.jpg"/>
	
<?php include("../../trangchu/vi/header.html")?>
<!-- MENU END-->
						<!-- <li>
							<a href="javascript:;" class="tabLink activeLink" id="nganh1">Thông tin chung</a> 											
						</li> -->
	<div id="noidung">
		<table class="noidung" cellpadding="0" cellspacing="0">
			<tr>
				<td class="left" style="width: 200px;">
					<h3>
						Các ngành
					</h3>
					<ul><?php include("../../trangchu/vi/menu_nganh.html")?></ul>
				</td>				
				<td class="right">
					<h1>
						Bác sĩ __TENNGANH__
					</h1>
					<div class="right">
						__THANHVIENNGANH__
					</div>
				</td>
			</tr>
		</table>
	</div>
	</div>
<?php include("../../trangchu/vi/footer.html")?>
