<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
	
	<div id="noidung">
	<table class="noidung" cellpadding="0" cellspacing="0">
	<tr>
	<td class="left">
	<h3>
	__CHUDE__
	</h3>
	<?php 		
		include("__DUONGDAN__/count.php");
		update_viewer_chude(__ID__);
	 ?>
	<ul>
	__BAIVIET_CUNGCHUDE__	
	</ul>
	</td>
	<td class="right">
	__LINKTREE__
		<div id="danhmuc">	
			<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
			__CHUDECON__
			</ul>
		</div>
	</td>
	</tr>
	</table>
	</div>
	</div>
</div>
<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
