<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="../../../../../../../../images/Yhoccongdong.ico" type="image/x-icon">
<!--#Giang# Meta Tag google-->
	<meta name="description" content="__MOTA__" />	
	<title>__TUADECHUDE__</title>	
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="<?php echo curPageURL(); ?>">
	<!--	<meta name="google-site-verification" content="..." /> -->
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<!--<meta name="keywords" itemprop="keywords" content="__LIST_TAGS__">-->
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TUADECHUDE__"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="__MOTA__"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="__HINHCHUDE__"/>

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<?php 		
	include("__DUONGDAN__/count.php");
	echo update_viewer_chude(__ID__);
 ?>

	
	<div id="danhmuc">
	__LINKTREE__
					<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
						__CHUDECON__						
					</ul>
					<br clear="all">
				</div>
	</div>
	</div>
</div>


<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
