				<div class="recentNews" id="__ID_MUCLUC__">
					<div class="primaryContent">
						<h2 class="subHeading">
							<a class="topbutton" href="#print"></a>
							<span>__STT__. </span>
							<a href="__LINKDUAN__">__TENDUAN__</a>
						</h2>
						<div class="news">
					﻿		<a href="__LINKDUAN__">
								<div class="box-image duan">
									<img class="" src="__HINHDUAN__" alt="__TENDUAN__"/>
									<b class="bl"></b>
									<b class="br"></b>
								</div>
							</a>
							<div style="width: 20%;clear: both; float: left; margin-top:10px; margin-right: 10px;text-align: center;">
                                                                                <?php include("__SHARE_BUTTON__")?>
                                                                                <p style="display:block; font-style: italic; font-size: 11px;">
                                                                                        Số lượt xem: <span itemprop="interactionCount">__SOLUOTXEM__</span>
                                                                                </p>
                                                                        </div>

							<div class="newsitem">
								<!--div class="thongtinhieudinh chude">
									</br>
									<div style="clear: both; float: right; margin-top:-20px; margin-right: 10px;">
										<?php include("__SHARE_BUTTON__")?>
										<p style="display:block; font-style: italic; font-size: 11px;">
											Số lượt xem: <span itemprop="interactionCount">__SOLUOTXEM__</span>								
										</p>
									</div>
								</div-->
								<div>
									<p style="text-align: justify;"><strong style="font-style:italic">Tóm tắt: </strong>__MOTADUAN__</p>
								</div>

			 <!--div class="thongtinhieudinh chude">
                                                                        </br>
                                                                        <div style="clear: both; float: right; margin-top:-20px; margin-right: 10px;text-align: center;">
                                                                                <?php include("__SHARE_BUTTON__")?>
                                                                                <p style="display:block; font-style: italic; font-size: 11px;">
                                                                                        Số lượt xem: <span itemprop="interactionCount">__SOLUOTXEM__</span>
                                                                                </p>
                                                                        </div>
                                                                </div-->


							</div>
						</div>
						__MUCLUC__
					</div>
				</div>
