<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage" >

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="__MOTACHUDE__" />	
	<title>__TENCHUDE__</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="__URL__"/>
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TENCHUDE__"/>
	<meta property="og:url" itemprop="url"  content="__URL__"/>
	<meta property="og:description" itemprop="description" content="__MOTACHUDE__"/>
	<meta property="og:image" content="__HINHCHUDE__"/>
	<meta property="og:type" content="website" />
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="twitter:creator" content="@yhoccongdong">
	<meta property="twitter:site" content="@yhoccongdong">
	<meta property="twitter:url" content="__URL__">
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/duan_block_css.css" />

<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>
<script type="text/javascript" src="__DOMAIN__/js/printpage.js"></script>
<script language="javascript" type="text/javascript" src="__DOMAIN__/js/ts-fab.js"></script>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--Script button G+-->	
	<script type="text/javascript">
	  window.___gcfg = {lang: 'vi'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
<!--Script button Twitter-->	
	<script>
		!function(d,s,id)
			{var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js,fjs);}}
		(document, 'script', 'twitter-wjs');
	</script>
	
	<article class="thongtin" style="margin-top: 35px;margin-bottom: 35px;">
		<section class="thongtinleft">
				<header class="secondary-header">
					<a href="__LINKCHUDECHA__"><strong style="padding-left: 10px; ">__CHUDECHA__</strong>
						<p style="text-align:right;  font-style:italic;">
							<img src="__DOMAIN__/images/multi_document.png" />
							__SOLUONGCHUDE__
						</p>
					</a>
				</header>
				
				<div class="thongtinleftmenu">
					<ul>	
						__CHUDE_BENTRAI__
					</ul>
				</div>
		</section>
		
		<div style="float: right; width:75%; border-left: 1px solid #f1f1f1;">
			<section class="thongtincenter">
				<?php include("data/linktree_chude.html")?>
				<div id="print">
					<h1 itemprop="name">__TENCHUDE__</h1>	
					<div class="thongtinhieudinh">
						Ngày cập nhật gần nhất: <span itemprop="datePublished">__NGAYCAPNHAT__</span>
						<div style="width: 160px; clear: both; float: right; margin-top:-20px;text-align: center;">
							__SHARE_BUTTON__
							<a target="_blank" onclick="printpage('print')">
									<img alt="print" src="http://yhoccongdong.com/images/icon/print16.gif" style="cursor: pointer;" border="0" align="bottom">
							</a>
							<p style="display:block; font-style: italic; font-size: 11px;">
							Số lượt xem: <span itemprop="interactionCount">
											<?php 
												include("__DUONGDAN__/count.php");
												echo update_viewer_chude(__ID__);
											 ?> 
										</span>
							</p>
						</div>
					</div>
					<div style="clear:both;font-size: 16px; line-height:20px; padding-top: 10px;">
						<strong style="font-style:italic">Mô tả: </strong>
						<em>__MOTACHUDE__</em>
					</div>
					<?php include("data/mucluc.html")?>
					<!--__NOIDUNG__-->
					<?php include("data/chude_duan.html")?>
				</div>
			</section>
			<div style="width: 98%; display: inline-block; margin-left: 10px; margin-bottom: 20px;">
				<header class="secondary-header">
					<img style="float:left" src="http://yhoccongdong.com/images/bullet-header.png"/>
					<strong style="padding-left: 10px;">Hãy chia sẻ thông tin hữu ích này đến người thân và bạn bè của bạn</strong>
				</header>
				<!--a rel="nofollow" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=__URL__" onfocus="this.blur();" title="Facebook"> 
					<img src="__DOMAIN__/images/icon/facebook.png" alt="Facebook">
				</a>
				<a rel="nofollow" href="https://plus.google.com/share?url=__URL__" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
					<img src="__DOMAIN__/images/icon/google_plus.png" alt="Share on Google+"/>
				</a>
				<a rel="nofollow" href="https://twitter.com/intent/tweet?text=__TITLE__&url=__URL__">
					<img src="__DOMAIN__/images/icon/twitter.png" alt="Tweet" />
				</a>
				<a target="_blank" onclick="printpage('print')">
					<img alt="print" src="__DOMAIN__/images/icon/print32.png" style="cursor: pointer;" border="0" align="bottom"></img>
				</a-->
				<div class="socialize-containter" style="background-color:#FFF; border: 1px #327539;border-style:solid; padding: 7px 0 10px 0; width:99.5%; display:inline-block; font-size:14px; margin-left: 0px; text-align:center; margin-top: 20px;">
					<div style="width:300px;border-right:1px solid #336699;float: left;padding-right:10px;margin-right:10px">								
				<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);"> Ủng hộ chủ đề trên FB, G+</div>

					<div class="fb-like" style="margin-right: 5px;" data-href="__URL__" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
					<div style="margin-right:10px" class="fb-share-button" data-href="__URL__" data-type="box_count"></div>
					<div  class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="__URL__"></div>
					<div class="g-plusone" data-size="tall" data-href="__URL__"></div>					

				</div>
				<div style="width:380px;float:left;">					
					<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);">Theo dõi Y Học Cộng Đồng trên mạng xã hội</div>	
					 <div style="margin-right:5px" class="fb-like" data-href="https://www.facebook.com/yhoccongdong" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
					<div style="margin-right:10px" class="fb-follow" data-href="http://www.facebook.com/yhoccongdong.quanly" data-colorscheme="light" data-layout="box_count" data-show-faces="true">
					</div>
					<div style="margin-right:0px; display:inline-block;">
                                        <div class="g-follow" data-annotation="vertical-bubble" data-height="20" data-href="https://plus.google.com/+yhoccongdong" data-rel="publisher"></div></div>
					<div class="g-plusone" data-size="tall" data-href="https://plus.google.com/+yhoccongdong"></div>
					</div>
				</div>
			</div>
			
			<!-- Comments -->
			<div class="social_block">
				<header class="secondary-header">
					<img style="float:left" src="http://yhoccongdong.com/images/bullet-header.png"/>
					<strong style="padding-left: 10px;">Hãy bình luận và chia sẻ kinh nghiệm của bạn</strong>
				</header>
				</br>
				<div id="con_comment">
					<div class="fb-comments" data-href="__URL__" data-width="706" data-num-posts="5">
					</div>
				</div>
			</div>
		</div>
	</article>
	
<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>
