<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/__ITEMTYPE__" >

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="__MOTACHUDE__" />	
	<title>__TENCHUDE__</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="__URL__"/>
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TENCHUDE__"/>
	<meta property="og:url" itemprop="url"  content="__URL__"/>
	<meta property="og:description" itemprop="description" content="__MOTACHUDE__"/>
	<meta property="og:image" content="__HINHCHUDE__"/>
	<meta property="og:type" content="website" />
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="twitter:creator" content="@yhoccongdong">
	<meta property="twitter:site" content="@yhoccongdong">
	<meta property="twitter:url" content="__URL__">
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/duan_block_css.css" />

<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--Script button G+-->	
	<script type="text/javascript">
	  window.___gcfg = {lang: 'vi'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
<!--Script button Twitter-->	
	<script>
		!function(d,s,id)
			{var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js,fjs);}}
		(document, 'script', 'twitter-wjs');
	</script>
	
	<article class="thongtin" style="margin-top: 35px;margin-bottom: 35px;">
		<section class="thongtinleft">
				<header class="secondary-header">
					<a href="__LINKCHUDECHA__"><strong style="padding-left: 10px; ">__CHUDECHA__</strong>
						<p style="text-align:right;  font-style:italic;">
							<img src="__DOMAIN__/images/multi_document.png" />
							__SOLUONGCHUDE__
						</p>
					</a>
				</header>
				
				<div class="thongtinleftmenu">
					<ul>	
						__CHUDE_BENTRAI__
					</ul>
				</div>
		</section>
		
		<div style="float: right; width:75%; border-left: 1px solid #f1f1f1;">
			<section class="thongtincenter">
				<div class="breadBoxTop">
					<nav>
						<fieldset class="breadcrumb">
							<span class="crumbs split-1 split-2">
								__LINKTREE__
							</span>
						</fieldset>
					</nav>
				</div>
				<div id="print">
					<h1 itemprop="name">__TENCHUDE__</h1>	
					<div class="thongtinhieudinh">
						Ngày cập nhật gần nhất: <span itemprop="datePublished">__NGAYCAPNHAT__</span>
						<div style="width: 160px; clear: both; float: right; margin-top:-20px;">
							__SHARE_BUTTON__
							<p style="display:block; font-style: italic; font-size: 11px;">
							Số lượt xem: <span itemprop="interactionCount">
											<?php 
												include("__DUONGDAN__/count.php");
												echo update_viewer_chude(__ID__);
											 ?> 
										</span>
							</p>
						</div>
					</div>
					<div style="clear:both;font-size: 16px; line-height:20px; padding-top: 10px;">
						<strong style="font-style:italic">Tóm tắt: </strong>
						<em>__MOTACHUDE__</em>
					</div>
				__MUCLUC__
				__CHUDEDUAN__
				</div>
			</section>
			<div style="width: 98%; display: inline-block; margin-left: 10px;">
				<header class="secondary-header">
					<strong style="padding-left: 10px;">Chia sẻ chủ đề</strong>
				</header>
				__SHARE_BUTTON__
				<div class="socialize-containter" style="background-color:#DDE8F4; border: 2px #327539;border-style:solid; padding: 7px 0 10px 0; width:99.5%; display:inline-block; font-size:14px; margin-left: 0px;">
					<div style="width:210px;border-right:1px solid #336699;float: left;padding-right:10px;margin-right:10px">								
						<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);"> Ủng hộ chủ đề trên FB, G+</div>
						<div class="fb-like" data-href="__URL__" data-width="60" data-height="20" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
						<div class="g-plusone" data-size="medium" data-href="__URL__"></div>
					</div>
					<div style="width:430px;float:left;">					
						<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);">Theo dõi Y Học Cộng Đồng trên mạng xã hội</div>
						<div class="fb-like" data-href="https://www.facebook.com/yhoccongdong" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
						<div class="fb-follow" data-href="http://www.facebook.com/yhoccongdong.quanly" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>
						<div class="g-follow" data-annotation="none" data-height="20" data-href="https://plus.google.com/+yhoccongdong" data-rel="publisher"></div>
						<div class="g-plusone" data-size="medium" data-href="https://plus.google.com/+yhoccongdong"></div>
					</div>
				</div>
			</div>
			
			<!-- Comments -->
			<div class="social_block">
				<header class="secondary-header">
					<strong style="padding-left: 10px;">Trao đổi bình luận</strong>
				</header>
				</br>
				<div id="con_comment">
					<div class="fb-comments" data-href="__URL__" data-width="706" data-num-posts="5">
					</div>
				</div>
			</div>
		</div>
	</article>
	
<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>