<a href="http://www.facebook.com/sharer.php?s= 100&amp;p[title]=__TITLE__&amp;p[url]=__URL__&amp;p[images][0]=__IMAGE__&amp;p[summary]=__DESCRIPTION__">
	<img src="__DOMAIN__/images/icon/facebook.png" alt="Facebook Share"/>
</a>
<a rel="nofollow" href="https://plus.google.com/share?url=__URL__" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
	<img src="__DOMAIN__/images/icon/google_plus.png" alt="Share on Google+"/>
</a>
<a rel="nofollow" href="https://twitter.com/intent/tweet?text=__TITLE__&url=__URL__">
	<img src="__DOMAIN__/images/icon/twitter.png" alt="Tweet Share" />
</a>
<a target="_blank" onclick="printpage('print')">
	<img alt="Print button" src="__DOMAIN__/images/icon/print32.png" style="cursor: pointer;" border="0" align="bottom">
</a>