<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon">
	<meta name="description" content="Tổng hợp thông tin và lời khuyên của bác sĩ về __TAGNAME__" />	
	<title>__TAGNAME__ - Lời khuyên bác sĩ</title>	
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="<?php echo curPageURL(); ?>">
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TAGNAME__ - Lời khuyên bác sĩ"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="Tổng hợp thông tin và lời khuyên của bác sĩ về __TAGNAME__"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>

<?php include("trangchu/vi/header.html")?>
<!-- MENU END-->
	<?php
	function curPageURL() {
	 $pageURL = 'http';
	 if ($_SERVER["HTTPS"] == "on") {$pageURL .= "s";}
	 $pageURL .= "://";
	 if ($_SERVER["SERVER_PORT"] != "80") {
	  $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
	 } else {
	  $pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
	 }
	 return $pageURL;
	}
	?>
	
	<!-- <div id="breadcrumb">
		<span class="current-time">Thứ Tư, ngày 13 tháng 12, 2012</span>Bạn đang ở<span class="home"></span> trang chủ<br clear="all" />
	</div> -->
	
	<div>
		<div id="content">
			<div id="banner">
      <!------------------------------------- IMAGE START ------------------------------------------------->
				
<!------------------------------------- IMAGE END ------------------------------------------------->
     
      
      
			</div>
<!------------------------------------- BÀI MỚI START ------------------------------------------------->
			<div id="timhieudaitrang1">   
				<h4>__TAGNAME__</h4>
				<div>
					<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
						<?php include("search_item.html")?>
					</ul>
					<br clear="all" />
				</div>
			</div>
<!------------------------------------- BÀI MỚI END ------------------------------------------------->
		</div>

<!------------------------------------- SIDEBAR START------------------------------------------------->		
		<div id="sidebar">
		<!------------------------------------- 6 MENU START------------------------------------------------->		
			<!--div class="rowsidebar">
				<strong><a href="#">Các bài viết nổi bật</a></strong>
				<div class="content_side">
					__SIDEBARMENU__	
					<br clear="all" />					
				</div>
			</div-->
		<!------------------------------------- 6 MENU END------------------------------------------------->		
		
		
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC START------------------------------------------------->		
			
			
			<!--div class="rowsidebar">
				<strong><a href="#">Một số dự án đã hoàn thành</a></strong>
				<div class="content_side">
				    __CHUDENOIBAC__
					<br clear="all" />				  
				
				</div>
			</div-->
			<br clear="all" /> 
		</div>
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC END------------------------------------------------->		
<!------------------------------------- SIDEBAR END------------------------------------------------->		
		<br clear="all" />
	</div>
</div>

<?php include("trangchu/vi/footer.html")?>
