<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="__DOMAIN__/css_/baivietlienquan.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__DOMAIN__/js_/jquery.js"></script>
		<script type="text/javascript" src="__DOMAIN__/js_/baivietlienquan.js"></script>
	</head>
	<body>
		<div id="box-tto">
			<div id="box-top"></div>
			<div id="box-middle" class="fl">
			  <div class="infiniteCarousel">
					<div style="overflow: hidden;" class="wrapper">
						<ul style="width: 9999px;">
__BAIVIETCUNGDUAN_ITEM__
						</ul>
					</div>
					<a href="#" class="arrow back" title="Quay lại"></a>
					<a href="#" class="arrow forward" title="Tiếp theo"></a>    
				</div>
		  </div>
		</div>
	</body>
</html>