<div class="recentNews" id="__URLNAME__">
	<div class="primaryContent">
		<h2 class="subHeading">
			<a class="topbutton" href="#print"></a>
			<span>__STT__. </span>
			<a href="__LINKBAIVIETDUAN__">__TENBAIVIETDUAN__</a>
		</h2>
		<div class="news">
	﻿		<a href="__LINKBAIVIETDUAN__">
				<div class="box-image duan">
					<img class="" src="__PHOTO__" alt="__TENBAIVIETDUAN__"/>
					<b class="bl"></b>
					<b class="br"></b>
				</div></a>
			<div class="newsitem">
				<div>
					<p style="text-align: justify;"><strong style="font-style:italic">Mô tả: </strong>__DESCRIPTION__</p>
				</div>
			</div>
			 <div class="thongtinhieudinh duan">
                                        Biên soạn: <a>__DANHXUNGNT__ </a><a itemprop="author" href="__LINKNGUOIDICH__">__NGUOIDICH__</a><br/>
                                        Hiệu đính: <a itemprop="editor" href="__LINKNGUOIHIEUDINH__">__DANHXUNGHD__ __NGUOIHIEUDINH__</a><br/>
                                        Ngày đăng: <span itemprop="datePublished">__NGAYDANG__</span>
                                        <div style=" clear: both; float: right; margin-top:-30px; text-align:center;">
                                                <a rel="nofollow" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=__LINKBAIVIETDUAN__" onfocus="this.blur();" title="Facebook">
                                                        <img src="http://yhoccongdong.com/images/icon/facebook16.gif" alt="Facebook"/>
                                                </a>
                                                <a rel="nofollow" href="https://plus.google.com/share?url=__LINKBAIVIETDUAN__" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                        <img src="http://yhoccongdong.com/images/icon/googleplus16.png" alt="Share on Google+"/>
                                                </a>
                                                <a rel="nofollow" href="https://twitter.com/intent/tweet?text=__TENBAIVIETDUAN__&amp;url=__LINKBAIVIETDUAN__">
                                                        <img src="http://yhoccongdong.com/images/icon/twitter16.png" alt="Tweet"/>
                                                </a>
                                                <p style="display:block; font-style: italic; font-size: 11px;">
                                                        Số lượt xem: <span itemprop="interactionCount">__SOLUONGXEM__</span>
                                                </p>
                                        </div>
                                </div>

		</div>
		__MUCLUC__
	</div>
</div>
