<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="../../../../../../../../images/Yhoccongdong.ico" type="image/x-icon">
	<meta name="description" content="__MOTA__" />	
	<title>__TUADEDUAN__</title>	
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="<?php echo curPageURL(); ?>">
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TUADEDUAN__"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="__MOTA__"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="__HINHDUAN__"/>

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
	
	<div id="noidung">
	
	<table class="noidung" cellpadding="0" cellspacing="0">
	<tr>
	<td class="left">
	<h3>
	__CHUDE__
	</h3>
	<?php
	function curPageURL() {
	 $pageURL = 'http';
	 #Giang#if ($_SERVER["HTTPS"] == "on") {$pageURL .= "s";}
	 if (!empty($_SERVER['HTTPS'])) {$pageURL .= "s";}  
	 $pageURL .= "://";
	 if ($_SERVER["SERVER_PORT"] != "80") {
	  $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
	 } else {
	  $pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
	 }
	 return $pageURL;
	}
	?>
	
	<?php 		
		include("__DUONGDAN__/count.php");
		update_viewer_duan(__ID__);
	 ?>
	<ul>
	<?php include("__CHUDETRONGTRANGDUAN__")?>
	</ul>
	</td>
	<td class="right">
	__LINKTREE__
	<h1>
	__TENDUAN__
	</h1>
	<div>__GIOITHIEU__
	</div>
	<div style="font-size: 20px;padding-top: 30px;padding-left: 20px;">Các bài viết</div>
	<div id="baiviet_duan">
		<?php include("data/danhsachbaiviet.html")?>
		
	</div>
	<div style="font-size: 20px;padding-top: 30px;padding-left: 20px;">Các thành viên tham gia</div>
		<div id="noidung">
			<table cellpadding="0" cellspacing="3" width="600"> 
				<tr>﻿﻿﻿﻿
					<?php include("data/thanhvien_thamgia_duan.html"); ?>
				</tr>
			</table>
		</div>
	</div>
	</td>
	</tr>
	</table>
	</div>
	</div>
</div>


<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
