<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
	
	<div id="noidung">
	
	<table class="noidung" cellpadding="0" cellspacing="0">
	<tr>
	<td class="left">
	<h3>
	__CHUDE__
	</h3>
	<?php 		
		include("__DUONGDAN__/count.php");
		echo update_viewer_duan(__ID__);
	 ?>
	<ul>
	<?php include("__CHUDETRONGTRANGDUAN__")?>
	</ul>
	</td>
	<td class="right">
	__LINKTREE__
	<h1>
	__TENDUAN__
	</h1>
	<div>__GIOITHIEU__
	</div>
	<div style="font-size: 20px;padding-top: 30px;padding-left: 20px;">Các bài viết</div>
	<div id="baiviet_duan">
		<?php include("data/danhsachbaiviet.html")?>
		
	</div>
	<div style="font-size: 20px;padding-top: 30px;padding-left: 20px;">Các thành viên tham gia</div>
		<div id="noidung">
			<table cellpadding="0" cellspacing="3" width="600"> 
				<tr>﻿﻿﻿﻿
					<?php include("data/thanhvien_thamgia_duan.html"); ?>
				</tr>
			</table>
		</div>
	</div>
	</td>
	</tr>
	</table>
	</div>
	</div>
</div>


<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
