<!--Author Box-->
    <div id="ts-fab-below" class="ts-fab-wrapper ts-fab-icons-text">
		<ul class="ts-fab-list">
			<li class="ts-fab-bio-link active">
				<a href="#tac-gia">Tác giả</a>
			</li>
			<!--__TABFACEBOOK__-->
			<!--__TABGOOGLEPLUS__-->
			<!--__TABTWITTER__-->
			<li class="ts-fab-latest-posts-link">
				<a href="#bai-viet-moi">Bài viết mới của tác giả</a>
			</li>
		</ul>

		<div class="ts-fab-tabs">
			<div style="display: block;" class="ts-fab-tab" id="tac-gia">
				<div class="ts-fab-avatar">
					<a href="__LINKNGUOIDICH__"><img data-lazy-loaded="true" style="display: block;"  src="__HINHNGUOIDICH__" height="64" width="64" /></a>
				</div>
				<div class="ts-fab-text">
					<div class="ts-fab-header">
						<a href="__LINKNGUOIDICH__">__DANHXUNGNT__ __NGUOIDICH__</a>
						<div class="ts-fab-description">
							<span>__DESCRIPTION__</span>
						</div>
					</div>
					<div class="ts-fab-content">
					</div>
				</div>
			</div>
			<!--__FACEBOOK_FOLLOW__-->
			<!--__GOOGLEPLUS_FOLLOW__-->
			<!--__TWITTER_FOLLOW__-->

			<div style="display: none;" class="ts-fab-tab" id="bai-viet-moi">
				<div class="ts-fab-avatar">
					<a href="__TATCABAIVIET__"><img  src="__HINHNGUOIDICH__"  height="64" width="64" /></a>
				</div>
				<div class="ts-fab-text">
					<div class="ts-fab-header">Bài viết mới nhất của <a href="__LINKNGUOIDICH__">__NGUOIDICH__</a> - (<a href="__TATCABAIVIET__">Xem tất cả</a>)</div>
					<ul class="ts-fab-latest">
<?php include("__BAIVIETMOI__"); ?>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- end of author box-->
