<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>__TENPROFILE__</title>
	<meta name="description" content="__GIOITHIEU__" />
	<meta name="robots" content="index,follow,noodp" />
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />
	<meta name="author" itemprop="author" content="YHocCongDong.com" />	
	<meta name="keywords" itemprop="keywords" content="__TENPROFILE__">
	<meta property="og:title" itemprop="headline" content="__TENPROFILE__"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="__GIOITHIEU__"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="Profile Y Học Cộng Đồng"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="__ANHPROFILE__"/>
	<link rel="shortcut icon" href="../../../../../../../../images/Yhoccongdong.ico" type="image/x-icon">
	<link rel="canonical" href="<?php echo curPageURL(); ?>">	

<link rel="stylesheet" type="text/css" href="../../css/profile_css.css"/>
<link rel="stylesheet" type="text/css" href="../../css/profile_thongtin.css"/>
<script type="text/javascript" src="../../js/profile_jquery.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
		$(".tabLink").each(function(){
		  $(this).click(function(){
			tabeId = $(this).attr('id');
			$(".tabLink").removeClass("activeLink");
			$(this).addClass("activeLink");
			$(".tabcontent").addClass("hide");
			$("#"+tabeId+"-1").removeClass("hide")   
			return false;	  
		  });
		});  
	  });
	</script>
	
<?php
	function curPageURL() {
	 $pageURL = 'http';
	 if ($_SERVER["HTTPS"] == "on") {$pageURL .= "s";}
	 $pageURL .= "://";
	 if ($_SERVER["SERVER_PORT"] != "80") {
	  $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
	 } else {
	  $pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
	 }
	 return $pageURL;
	}
?>
</head>

<body>
	<div id="topline"></div>
    
	<div id="wrapper">
        <div id="mainbg">
            <div id="menu">
				<!--h1>Trang cá nhân</h1-->
            	<h1></h1>
                <div id="menu_mid">
                	<!--a href="index.html" class="activeLink">Thông tin chung</a>
                    <a href="CacBaiViet.html">Các bài viết</a>
                    <a href="LienKet.html" >Liên kết</a-->
					<a href="javascript:;" class="tabLink activeLink" id="cont-1">Thông tin chung</a> 						
					<a href="javascript:;" class="tabLink " id="cont-3">Các đóng góp</a> 
					<a href="javascript:;" class="tabLink " id="cont-4">Liên kết</a>
                </div>
                <div id="logo">
                	<a href="http://www.yhoccongdong.com"><img src="../../images/logoxanh.png" border="none" /></a>
                </div>
            </div>
            
            <div id="content_left">
                <h2>__DANHXUNG__&nbsp__TENPROFILE__</h2>
                <img width="210px" src="__ANHPROFILE__" />
              <h3>__TRIETLY__</h3>
              <div id="line_dashed"></div>
              <div id="profile_info">
                <p>__TRINHDOCHUYENMON__</p>
                <p>__NGANH__</p>
                <p>__CHUYENNGANH__</p>
                <p><a href="mailto:__EMAIL__">__EMAIL__</a></p>
                <p><a href="__LINKNOILAMVIEC__">__NOILAMVIEC__</a></p>
              </div>
            </div>
            
			<div class="tabcontent" id="cont-1-1"> 
				<div id="content_mid">
					<h1>Giới thiệu bản thân</h1>
					<!--p>Chức vụ hiện tại: Trưởng Đơn vị Hỗ trợ sinh sản IVF Mekong, Bệnh viện Phụ Sản Quốc tế Phương Châu, Cần Thơ.</p-->
					<p>__GIOITHIEU__</p>
					<h1>Quá trình đào tạo</h1>
					
					<table id="table-thongtin">
						<thead>
							<tr>
								<th scope="col">Nơi đào tạo</th>
								<th scope="col">Ngành đào tạo</th>
								<th scope="col">Trình độ</th>
								<th scope="col">Năm tốt nghiệp</th>
							</tr>
						</thead>
						<tbody>
							__QUATRINHDAOTAO__
						</tbody>
					</table>
					<div id="line_mid"></div>
					
					<h1>Các dự án tham gia</h1>
					<table id="table-thongtin">
						<thead>
							<tr>
								<th scope="col">Dự án</th>
								<th scope="col">Vai trò</th>
							</tr>
						</thead>
						<tbody>
							<?php include("__DUAN__"); ?>
							
						</tbody>
					</table>
					<div id="line_mid"></div>
				</div>
				
			</div>
			
			<div class="tabcontent hide" id="cont-3-1"> 
				<div id="content_mid">               
					<h1>Các bài viết</h1>
					
					<table id="table-thongtin">
						<thead>
							<tr>
								<th scope="col">Bài viết</th>
								<th scope="col">Dự án</th>								
								<th scope="col">Lượt xem</th>
							</tr>
						</thead>
						<tbody>
							<?php include("__BAIVIET1__"); ?>
						</tbody>
					</table>
					<div id="line_mid"></div>
				</div>
			</div>
			
			<div class="tabcontent hide" id="cont-4-1"> 
				<div id="content_mid">               
					<h1>Liên kết</h1>					
					<p>__LIENKET__</p>
					<div id="line_mid"></div>

				</div>
			</div>
            
            <div id="content_right">
            	<div id=""></div>
            	<p><?php 
						$string = curPageURL();
						$res = explode('/', $string);
						#echo '<pre>'; print_r($res); echo '<pre/>';
						$string_page = explode('-', $res[count($res)-2]);
						$baiviet_id = $string_page[0];						
						echo tongsobaiviet($baiviet_id);
					 ?> bài đóng góp</p>
				<p><?php 
						$string = curPageURL();
						$res = explode('/', $string);
						#echo '<pre>'; print_r($res); echo '<pre/>';
						$string_page = explode('-', $res[count($res)-2]);
						$baiviet_id = $string_page[0];					
						echo tongsohieudinh($baiviet_id);
					 ?> bài hiệu đính</p>                
				<p> <?php 
						$string = curPageURL();
						$res = explode('/', $string);
						#echo '<pre>'; print_r($res); echo '<pre/>';
						$string_page = explode('-', $res[count($res)-2]);
						$baiviet_id = $string_page[0];						
						echo update_viewer($baiviet_id);
					 ?> người quan tâm</p>
            </div>
        </div>
    </div>
</body>
</html>
