					<div>
                        <a href="__LINKNGUOIDICH__"><img src="__HINHNGUOIDICH__" width="150"/></a>
                        <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" style="font-size: 15px;padding-top: 8px;line-height: 18px;">
                            <a href="__LINKNGUOIDICH__">__DANHXUNGNT____NGUOIDICH__ </a></br>
                            __TRINHDOCHUYENMON__</br>
                            __NGANH____CHUYENNGANH__</br>            
                        </div>
						<div style="margin-top:10px">
__PROFILEITEM__
						</div>
                    </div>