<div class="libacsi">
	<div style="float:left;">
		<a href="__LINK__" target="">
		<div class="box-image bacsi">
			<img class="" src="__PHOTO__" alt="__NAME__"/>		
			<b class="bl"></b>
			<b class="br"></b>
		</div>
		</a>
	</div>
	<div style="float:left">
		<header class="box-header bacsi">
			<h1>
				<a href="__LINK__" target="">
					__DANHXUNGNT__ __NAME__
				</a>
				<span>__TRINHDOCHUYENMON__</span>
				<span>__CHUYENNGANH__</span>
			</h1>
		</header>
		<div class="social-icon">
			__PROFILEITEM__
		</div>
	</div>
</div>