<div class="libacsi">
	<div style="float:left;">
		<div class="box-image bacsi">
			<img class="" src="__PHOTO__" alt=""/>
			<b class="bl"></b>
			<b class="br"></b>
		</div>
	</div>
	<div style="float:left">
		<header class="box-header bacsi">
			<h1>
				<a href="__LINK__" target="">
					__DANHXUNGNT__ __NAME__
				</a>
				<span>__TRINHDOCHUYENMON__</span>
				<span>__CHUYENNGANH__</span>
			</h1>
		</header>
		<div style="margin:10px 0 10px 0;">
			__PROFILEITEM__
		</div>
	</div>
</div>