<footer>
		<div id="footermenu">
			<div class="ft_first">
				<div class="subdiv">
					<ul class="clear">
						<li>
							<strong class="footermenutitle">Về chúng tôi</strong>
						</li>	
						 <li> <a href="http://yhoccongdong.com/trangchu/vi/muctieuytuong.php">Giới thiệu</a>
						</li>	 <li> <a href="http://yhoccongdong.com/nganh/san-khoa/">Cộng đồng bác sĩ</a>
							 </li>  <li> <a href="http://yhoccongdong.com/trangchu/vi/nhomcongtac.php">Nhóm cộng tác viên</a>
							 </li>  <li> <a href="http://yhoccongdong.com/trangchu/vi/nhomphattrien.php">Điều hành và phát triển</a>
							 </li>  <li> <a href="#">Nhà tài trợ</a>
						</li>
					</ul>
				</div>
				
				<div class="subdiv mini">
					<ul class="clear">
						<li>
							<strong class="footermenutitle">Góc CNTT</strong>
						</li>	
						<li> <a href="http://yhoccongdong.com/chude/su-dung-he-thong/">Sử dụng hệ thống</a>
						</li>
						
						<li>
						<br/>
						</li>
						
						<li>
						<br/>
						<br/>
						<strong class="footermenutitle">Liên kết</strong>
						</li>	
						 <li> <a href="http://yhoccongdong.com/dangky/" rel="nofollow">Đăng ký thành viên</a>
						</li>	
						 <li> <a href="http://yhoccongdong.com:2069/?db=yhoccongdong1" rel="nofollow">Đăng nhập</a>
						</li>
						
					</ul>
				</div>
			</div>
				
			__FOOTER_MENU__
			
		</div>

		<div class="endfooter">
			<div class="ft-bot">
				<div class="ft-botl"><a href="http://yhoccongdong.com" rel="publisher"><img alt="logo yhoccongdong" src="http://yhoccongdong.com/images/footer.png"></a></div>
				<div class="ft-botm">
					<p>© <strong>Copyright 2012 <a target="_blank" style="color:#CDDBE0;" href="https://plus.google.com/115010262285863403089" rel="publisher">Yhoccongdong.com,</a></strong>  All rights reserved</p>
					<p>® YHoccongdong giữ bản quyền nội dung trên website này.</p>
				</div>
				<div class="ft-botr">
					<p>Được phát triển bởi Công ty Cổ Phần Giải Pháp HLV </p>
					<p><span style="padding:0 5px;"></span> Liên hệ : <a style="color:#CDDBE0;" target="_blank" href="http://hlvsolution.com" rel="nofollow">www.hlvsolution.com</a> hoặc <img style="margin-top: -4px;" alt="icon hotline" src="http://yhoccongdong.com/images/hotline.gif"> : <strong>0912.999.641</strong> (TP HCM)</p>
				</div>
			</div>  
		</div>
			
	</footer>
</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45326191-1', 'yhoccongdong.com');
	  ga('send', 'pageview');

	</script>
</body>
</html>
