<!--div class="zme-fb-yt">
			<div id="zme-root" class=" zme_reset">
				<div style="position: absolute; top: -10000px; height: 0px; width: 0px;"></div>
			</div>
			<div class="zme-subscribe _zmeLike  zme_iframe_widget " data-layout="small" 
					data-height="63" data-width="250">
				<span>
					
					<a title="FaceBook" href="https://www.facebook.com/yhoccongdong" target="_bank"><img style="margin-bottom: 5px;" src="../../images/social/facebook.png" alt="Facebook" /></a>
					<a title="Google +"  href="https://plus.google.com/115010262285863403089" target="_bank"><img style="margin-bottom: 5px;" src="../../images/social/googleplus.png" alt="Google Plus" /></a>
					<a title="Twitter"  href="https://twitter.com/yhoccongdong" target="_bank"><img style="margin-bottom: 5px;" src="../../images/social/twitter.png" alt="Twitter" /></a>
				</span>
			</div>
		</div-->
		<a class="scroll-top" href="#"></a>
	</div>
		<div id="footer">
			<div >Copyright © 2012 by <a href="https://plus.google.com/115010262285863403089" rel="publisher">Y Học Cộng Đồng</a>
				<br />
				Được phát triển bởi công ty cổ phần giải pháp HLV </br>Website:
				<a href="http://www.hlvsolution.com/trangchu/vi/index.html" rel="nofollow">www.hlvsolution.com</a>
				<br clear="all" />
			</div>
			
			<div class="footer center">        
				<div class="section2">
					<div class="footernav">
						__FOOTER_MENU__							
						
					</div>
				</div>
				
			<br class="clear">
			</div>
		</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45326191-1', 'yhoccongdong.com');
	  ga('send', 'pageview');

	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-45321692-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    </body>
</html>
