	<meta property="twitter:creator" content="@yhoccongdong">
	<meta property="twitter:site" content="@yhoccongdong">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:url" content="https://twitter.com/yhoccongdong">

	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_css.css" />
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_ddmegamenu.css" />
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_style.css">
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_chitietbaiviet.css">
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_profile.css">
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/main_danhmuc.css">
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/footer_menu.css">
	<link rel="stylesheet" type="text/css" href="http://yhoccongdong.com/css/yhoc_thinh.css">

	<script language="javascript" type="text/javascript" src="http://yhoccongdong.com/js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="http://yhoccongdong.com/js/ddmegamenu.js"></script>	
	<script language="javascript" type="text/javascript" src="http://yhoccongdong.com/js/yhoc_js1.js"></script>
	<script language="javascript" type="text/javascript" src="http://yhoccongdong.com/js/yhoc_js.js"></script>	
	<script language="javascript" type="text/javascript" src="http://yhoccongdong.com/js/yhoc_thinh_js.js"></script>
	
	<script type="text/javascript">
	  $(document).ready(function() {
		$(".tabLink").each(function(){
		  $(this).click(function(){
			tabeId = $(this).attr('id');
			$(".tabLink").removeClass("activeLink");
			$(this).addClass("activeLink");
			$(".tabcontent").addClass("hide");
			$("#"+tabeId+"-1").removeClass("hide")   
			return false;	  
		  });
		});  
	  });
	</script>
</head>

<body>
<div id="wallpaper">

	<div>
		<div id="logo" style="margin-top: 10px;"><a href="http://yhoccongdong.com"><img src="http://yhoccongdong.com/images/logo.jpg" width="419" height="70" /></a></div>
		<div style="float:right;">
			<span><a href="http://yhoccongdong.com"><img src="http://yhoccongdong.com/images/social/home.png" alt="facebook" title="Trang chủ"/></a></span>
			<span style="padding-left: 10px;"><a href="http://facebook.com/yhoccongdong/"><img src="http://yhoccongdong.com/images/social/facebook.png" alt="facebook" title="Facebook"/></a></span>
			<span style="padding-left: 10px;"><a href="https://twitter.com/yhoccongdong/"><img src="http://yhoccongdong.com/images/social/twitter.png" alt="twitter" title="Twitter"/></a></span>
			<span style="padding-left: 10px;"><a href="https://plus.google.com/+YHocCongDong/"><img src="http://yhoccongdong.com/images/social/google-plus.png" alt="g+" title="Google+"/></a></span>
			<span style="padding-left: 10px;"><a href="http://www.youtube.com/yhoccongdong/"><img src="http://yhoccongdong.com/images/social/youtube.png" alt="youtube" title="Youtube"/></a></span>
			<span style="padding-left: 10px;"><a href="http://me.zing.vn/yhoccongdong"><img src="http://yhoccongdong.com/images/social/zingme.png" alt="zing me" title="Zing me"/></a></span>
			<span style="padding-left: 10px;"><a href="http://blog.yhoccongdong.com"><img src="http://yhoccongdong.com/images/social/blog.png" alt="blog" title="Yhoccongdong Blog"/></a></span>
			<span style="padding-left: 10px;"><a href="http://yhoccongdongcom.blogspot.com"><img src="http://yhoccongdong.com/images/social/blogger.png" alt="Blogspot" title="Google Blog"/></a></span>
			<span style="padding-left: 10px;"><a href="http://www.slideshare.net/yhoccongdong"><img src="http://yhoccongdong.com/images/social/slideshare.png" alt="Slideshare" title="Slideshare"/></a></span>
			<span style="padding-left: 10px;"><a href="http://yhoccongdong.com/rss/"><img src="http://yhoccongdong.com/images/social/rss.png" alt="RSS" title="RSS"/></a></span>
		</div>
		<br clear="all"/>
		<div style="margin-top: -20px; width: 310px; float:right;">
			<div style="margin-top: -20px; width:200px; float:left;">
				<label for="textfield"></label>
				<input name="textfield" type="text" class="search" id="textfield" value="Nhập thông tin cần tìm" />	
		</div>
		<div style="text-align: right;font-size: 13px; width:100px; float:right;">
			<a href="http://yhoccongdong.com/dangky/" rel="nofollow" target="_blank"><u>Register</u></a>&nbsp;&nbsp;
			<a href="http://yhoccongdong.com:2069/" rel="nofollow" target="_blank"><u>Login</u></a>
		</div>
		</div>
		<br clear="all" />
	</div>

<!-- MENU START-->
	<div>
		<ul id="solidmenu" class="solidblockmenu"  style="background:url(http://yhoccongdong.com/images/bgmenu.jpg)">
			<li><a href="http://yhoccongdong.com">Trang chủ</a></li>
			
			<!-- <li><a href="#" rel="thuongthuc" class="trigger">bệnh và triệu chứng</a></li>
			<li><a href="#">sống khỏe</a></li>
			<li><a href="#">mẹ và bé</a></li>
			<li><a href="#" >trẻ em</a></li>
			<li><a href="#" rel="treem" class="trigger">thanh niên</a></li>
			<li><a href="#" rel="chuyende" class="trigger">Người lớn tuổi</a></li>  -->
			<li><a href="#" rel="about" class="trigger">Giới thiệu</a>			
			__ROOTMENU__
			<li><br clear="all" /></li>
		</ul>
		
		
		<div id="about" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="http://yhoccongdong.com/trangchu/vi/muctieuytuong.__KIEUFILE__" >Ý tưởng và mục tiêu</a></li>
				<li ><a href="http://yhoccongdong.com/trangchu/vi/thungo.__KIEUFILE__" >Thư ngỏ</a></li>
				<li><a href="__LINKCONGDONGBS__" >Cộng đồng bác sĩ</a></li>
				<li><a href="http://yhoccongdong.com/trangchu/vi/nhomcongtac.__KIEUFILE__" >Nhóm cộng tác viên</a></li>
				<li ><a href="http://yhoccongdong.com/trangchu/vi/nhomphattrien.__KIEUFILE__" >Điều hành và phát triển</a></li>
				<li ><a href="http://yhoccongdong.com/trangchu/vi/nhataitro.__KIEUFILE__" >Nhà tài trợ</a></li>
			</ul>
		</div>
		__SUBMENU__
		<!-- 
		<div id="thuongthuc" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Kiến thức căn bản</a></li>
				<li><a href="#" >Bách khoa toàn thư</a></li>
				<li><a href="#" >Khảo cứu tình dục học</a></li>
				<li><a href="#" >Giới tính tuổi hoa</a></li> 
				<li><a href="#" >Sinh con theo ý muốn</a></li> 
				<li><a href="#" >Bác sĩ giải đáp "chuyện ấy"	</a></li>
				<li><a href="#" >Các vấn đề khác</a></li>
			</ul>
		</div>
		
		<div id="treem" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Đầu Mặt Cổ</a></li>
				<li><a href="#" >Ngực Bụng</a></li> 
				<li><a href="#" >Da Cơ Xương</a></li>
				<li><a href="#" >Sinh dục - Bài tiết</a></li>
				<li><a href="#" >300 câu hỏi cho bố mẹ trẻ</a></li>
			</ul>
		</div>
        
        <div id="chuyende" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Tăng huyết áp</a></li>
				<li><a href="#" >Bệnh Quai bị</a></li> 
				<li><a href="#" >Đái tháo đường</a></li>
				<li><a href="#" >U xơ tử cung</a></li>
				<li><a href="#" >Công dụng của Mật ong</a></li>
			</ul>
		</div> -->
	</div>
<!-- MENU END-->
