
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/main_css.css" />
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/search.css" />
	
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/keyword.css" />
	
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/block_search_css.css" />
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/duan_block_css.css" />
	<!--Footer-->
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/footer.css" />
	
	<!--Bai Viet-->
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/baiviet_lienquan.css" />
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/baiviet_lienquan.js"></script>	
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/main_thongtin.css" />
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/social_css.css" />
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/mucluc_css.css" />
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/ts-fab.css" />
	
	<!--Menu-->
	<link rel="stylesheet" type="text/css" href="__DOMAIN__/css_/ddmegamenu.css" />
	
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/jquery.easing.js"></script>
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/ddmegamenu.js"></script>
	<script language="javascript" type="text/javascript" src="__DOMAIN__/js_/init.ddmegamenu.js"></script>
	<!--Slide-->
	<link href="__DOMAIN__/css_/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="__DOMAIN__/js_/js-image-slider.js" type="text/javascript"></script>
    <script src="__DOMAIN__/js_/js-image-slider.js" type="text/javascript"></script>

	
	<!--Slide of Bác sĩ -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="__DOMAIN__/js_/jquery.min.js"><\/script>')</script>

	<script src="__DOMAIN__/js_/jquery.easing.1.2.js"></script>

	<link rel="stylesheet" href="__DOMAIN__/css_/js-image-bacsi.css" media="screen">
	<script src="__DOMAIN__/js_/jquery.jatt.min.js"></script>
	<script src="__DOMAIN__/js_/jquery.anythingslider.js"></script>
	<link rel="stylesheet" href="__DOMAIN__/css_/js-bacsi-theme-metallic.css">

	<!-- Script chạy Slide của Bác sĩ-->
	<script>
		// Set up Sliders
		// **************
		$(function(){

			$('#slider1').anythingSlider({
				theme           : 'metallic',
				easing          : 'easeInOutBack',
				navigationFormatter : function(index, panel){
					return ['Slab', 'Parking Lot', 'Drive', 'Glorius Dawn', 'Bjork?', 'Traffic Circle'][index - 1];
				},
				onSlideComplete : function(slider){
					// alert('Welcome to Slide #' + slider.currentPage);
				}
			});
		});

	</script>
	
</head>
<body>

<div class="container">
	<!--HEADER-->
	<header>
		<div id="logo" style="margin-top: 10px;"><a href="http://yhoccongdong.com"><img src="__DOMAIN__/images/logo.jpg" alt="logo Y học cộng đồng" width="419" height="70"></a></div>

		<div style="float:right;">

			<span><a href="http://yhoccongdong.com"><img src="__DOMAIN__/images/social/home.png" alt="trang chu" title="Trang chủ"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="http://facebook.com/yhoccongdong/"><img src="__DOMAIN__/images/social/facebook.png" alt="facebook" title="Facebook"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="https://twitter.com/yhoccongdong/"><img src="__DOMAIN__/images/social/twitter.png" alt="twitter" title="Twitter"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="https://plus.google.com/+yhoccongdong/"><img src="__DOMAIN__/images/social/google-plus.png" alt="g+" title="Google+"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="http://www.youtube.com/yhoccongdong/"><img src="__DOMAIN__/images/social/youtube.png" alt="youtube" title="Youtube"></a></span>
			<!--span style="padding-left: 10px;"><a href="http://me.zing.vn/yhoccongdong"><img src="__DOMAIN__/images/social/zingme.png" alt="zing me" title="Zing me"></a></span-->
			<span style="padding-left: 10px;"><a rel="nofollow"  href="http://blog.yhoccongdong.com"><img src="__DOMAIN__/images/social/blog.png" alt="blog" title="Yhoccongdong Blog"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="http://yhoccongdongcom.blogspot.com"><img src="__DOMAIN__/images/social/blogger.png" alt="Blogspot" title="Google Blog"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="http://www.slideshare.net/yhoccongdong"><img src="__DOMAIN__/images/social/slideshare.png" alt="Slideshare" title="Slideshare"></a></span>
			<span style="padding-left: 10px;"><a href="http://yhoccongdong.com/rss/"><img src="__DOMAIN__/images/social/rss.png" alt="RSS" title="RSS"></a></span>
			<span style="padding-left: 10px;"><a href="http://yhoccongdong.com/dangky/"><img src="__DOMAIN__/images/social/register.png" alt="Register" title="Register"></a></span>
			<span style="padding-left: 10px;"><a rel="nofollow" href="http://yhoccongdong.com:2069"><img src="__DOMAIN__/images/social/login.png" alt="Login" title="Login"></a></span>

		</div>
		<br clear="all">
		<form method="post" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>" enctype="multipart/form-data">	
			<div style="margin-top: -20px; width: 475px; float:right;">
				<div style="margin-top: -20px; width:100%; float:right;">
					<div class="form-wrapper cf">
						<input name="search_text" id="search_text" type="text" placeholder="Nhập từ khóa tìm kiếm..." required="" oninvalid="setCustomValidity('Vui lòng nhập từ khóa để được hỗ trợ tốt hơn')" oninput="setCustomValidity('')">
						<button id="submit" name="submit" type="submit">Tìm</button>
					</div>
				</div>
			</div>
			<?php 
				if (isset($_POST['submit'])) {
					session_start();
					if(!$_POST['search_text'])
					{
						echo '<script type="text/javascript"> alert("Xin hãy nhập từ khóa cần tìm!") </script>';
					}
					else
					{
						$_SESSION['search'] = $_POST['search_text'];	
						include ("xmlrpc/p_test.php");
						echo '<script language="javascript" type="text/javascript">
window.location.href="../../search_result.php";
</script>';
					}
				}
			?>
		</form>
		<br clear="all">
	</header>

	
	<!--START MENU-->
	
	<div class="startmenu">
		<div class="menu">
			<ul id="solidmenu" class="solidblockmenu">
				<li><a href="#" rel="about" class="trigger">Giới thiệu</a>			
				__ROOTMENU__
				<li><br clear="all" /></li>
			</ul>
			<div id="about" class="mega solidblocktheme" style="width:200px">
				<ul class="ulmenu">
					<li ><a href="__DOMAIN__/trangchu/vi/muctieuytuong.__KIEUFILE__" >Ý tưởng và mục tiêu</a></li>
					<li ><a href="__DOMAIN__/trangchu/vi/thungo.__KIEUFILE__" >Thư ngỏ</a></li>
					<li><a href="__LINKCONGDONGBS__" >Cộng đồng bác sĩ</a></li>
					<li><a href="__DOMAIN__/trangchu/vi/nhomcongtac.__KIEUFILE__" >Nhóm cộng tác viên</a></li>
					<li ><a href="__DOMAIN__/trangchu/vi/nhomphattrien.__KIEUFILE__" >Điều hành và phát triển</a></li>
					<li ><a href="__DOMAIN__/trangchu/vi/nhataitro.__KIEUFILE__" >Nhà tài trợ</a></li>
				</ul>
			</div>
			
			__SUBMENU__
			﻿
		</div>

	</div>

