<div class="img_news_clear">
	<a href="__LINK__" target="">
		<div class="box-image">
			<img class="" src="__IMAGE__" alt="__NAME__"/>
			<b class="bl"></b>
			<b class="br"></b>
		</div>
	</a>
	<div class="box-text">
	<header class="box-header">
		<h1>
			<a href="__LINK__" target="">
				__NAME__
			</a>
			<img class="" src="http://yhoccongdong.com/images/topic-icon.png" alt="multi document icon">	
			<span class="loatbai"> </span>
		</h1>
	</header>
		__DESCRIPTION__
	</div>
	<div class="box-text">
	<header class="box-header">
		<h1>
			<a href="__LINK__" target="">
				__NAME__
			</a>
		</h1>
	</header>
		__DESCRIPTION__
	</div>
</div>