<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<!-- MENU END-->
	
			<div id="noidung">				
				<div style="font-size: 30px;color: #135994;padding-bottom: 20px;padding-left: 20px;padding-top: 5px;font-weight: bold;">
					Nhóm thành viên cộng tác
				</div>
				<table cellpadding="0" cellspacing="3" width="980"> 
					<tr>__THANHVIENCONGTAC__</tr>
				</table>
				<br clear="all">
				
			</div>
		</div>
	</div>
</div>


<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
