<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<!-- MENU END-->
	
	
	<!-- <div id="breadcrumb">
		<span class="current-time">Thứ Tư, ngày 13 tháng 12, 2012</span>Bạn đang ở<span class="home"></span> trang chủ<br clear="all" />
	</div> -->
	
	<div>
		__THUNGO__
		
		<br clear="all" />
	</div>
</div>


<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>