<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/__ITEMTYPE__" >

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="Thư ngõ - Y học cộng đồng: chăm sóc sức khỏe và cung cấp các thông tin về sức khỏe cho cộng đồng" />	
	<title>Thư ngõ - Y học cộng đồng: chăm sóc sức khỏe và cung cấp các thông tin về sức khỏe cho cộng đồng</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="http://yhoccongdong.com/trangchu/vi/thungo.php"/>
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="Thư ngõ - Y học cộng đồng: chăm sóc sức khỏe và cung cấp các thông tin về sức khỏe cho cộng đồng"/>
	<meta property="og:url" itemprop="url"  content="http://yhoccongdong.com/trangchu/vi/thungo.php"/>
	<meta property="og:description" itemprop="description" content="Thư ngõ - Y học cộng đồng: chăm sóc sức khỏe và cung cấp các thông tin về sức khỏe cho cộng đồng"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="twitter:creator" content="@yhoccongdong">
	<meta property="twitter:site" content="@yhoccongdong">
	<meta property="twitter:url" content="http://yhoccongdong.com/trangchu/vi/thungo.php">

<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>
	<article id="top">
		
		<div style="clear:both;font-size: 14px; line-height:22px; padding-top: 10px; text-align:left;">
			__THUNGO__
		</div>
	</article>
<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>