<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="__DESCRIPTION__" />	
	<title>__TITLE__</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="__URL__"/>
	<meta content="100005119690063" property="fb:admins"/>
	<meta content="__TITLE__" property="og:title"/>
	<meta content="__URL__" property="og:url"/>
	<meta content="__DESCRIPTION__" property="og:description"/>
    <meta content="vi_VN" property="og:locale"/>
	<meta content="yhoccongdong.com" property="og:site_name"/>
	<meta content="@yhoccongdong" property="twitter:creator"/>
	<meta content="@yhoccongdong" property="twitter:site"/>
	<meta content="__URL__" property="twitter:url"/>
	
<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>

<!-- MENU END-->	

	<article>
		<div style="float: left; width:640px; margin-top: 35px;">
			<section id="slide">
				<div id="sliderFrame">
					<div id="slider">

						__ANHTRANGCHU__
					</div>
					
				</div>				
			</section>
			<br/>
			
			<section id="content_center">
				<div class="center_left">
					<header class="secondary-header">
						<h1>Sức khỏe mỗi ngày</h1>
					</header>
					<ul class="main-sub-article">
						<?php include("__DUONGDAN__/trangchu/__TENTRANG__/baivietmoi.html")?>
					</ul>
					<!--ul class="main-sub-article">
						
					</ul>
					<ul class="main-sub-article">
						
					</ul>
					<ul class="main-sub-article">
						
					</ul-->
				</div>
				<div class="center_right">
				<div class="img_news">
				<header class="secondary-header">
					<h1>Loạt bài nổi bật</h1>
				</header>
				<!--div class="titlemodule">
					<div class="titlespan">
						Một số loạt bài nổi bật
					</div>
				</div-->

				__CHUDENOIBAC__
				
				
			</div>
				</div>
			</section>
		</div>
		
		<section id="rightslide">
			<!--header class="secondary-header">
				<h1>Các từ khóa liên quan sức khỏe</h1>
			</header-->
			<div class="titlemodule">
				<div class="titlespan">
					Từ khóa liên quan
				</div>
			</div>
			<div style="margin: 0 auto; margin-bottom:20px;margin-top:10px;"> 
				__LIST_TAGS__
				<!--a href="#" class="HeaderTagCloudGreen">ăn gì tốt cho sức khỏe</a> 
				<a href="#" class="HeaderTagCloud">bảo vệ hạnh phúc gia đình</a> 
				<a href="#" class="HeaderTagCloud">bé biếng ăn</a> 
				<a href="#" class="HeaderTagCloudGreen">bí quyết chăm sóc da</a> 
				<a href="#" class="HeaderTagCloudGreen">sữa cho bé</a> 
				<a href="#" class="HeaderTagCloud">các giai đoạn phát triển của trẻ</a> 
				<a href="#" class="HeaderTagCloud">dạy con</a> 
				<a href="#" class="HeaderTagCloud">chăm sóc</a> 
				<a href="#" class="HeaderTagCloudRed">sức khỏe bà bầu</a> 
				<a href="#" class="HeaderTagCloud">sức khỏe đàn ông</a> 
				<a href="#" class="HeaderTagCloud">mẹ yêu bé</a> 
				<a href="#" class="HeaderTagCloud">sức khỏe mẹ và bé</a> 
				<a href="#" class="HeaderTagCloudRed">cách dạy con</a> 
				<a href="#" class="HeaderTagCloud">chăm sóc thai</a> 
				<a href="#" class="HeaderTagCloud">chăm sóc vùng kín</a>
				<a href="#" class="HeaderTagCloud">chăm sóc sức khỏe hôn nhân</a--> 
			</div>
			<!--header class="secondary-header">
				<h1>Gương mặt thành viên tiêu biểu</h1>
			</header-->
			<div class="titlemodule">
				<div class="titlespan">
					Gương mặt tiêu biểu
				</div>
			</div>
			<div style="margin: 0 auto"> 
				<ul id="slider1">
					<?php include("__DUONGDAN__/trangchu/vi/dsbacsiotrangchu.html")?>
				</ul>
			</div>
					
			<div class="img_news">
				<div class="titlemodule">
					<div class="titlespan">
						Chủ đề hay
					</div>
				</div>
				__SIDEBARMENU__
			</div>
		</section>
	</article>
<!--////////////////////////////////////////////////////-->	

<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>
