<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Ytecongdong.com</title>

	<link rel="stylesheet" type="text/css" href="../../css/css.css" />
	<link rel="stylesheet" type="text/css" href="../../css/ddmegamenu.css" />
	<link rel="stylesheet" type="text/css" href="../../css/style.css">

	<script language="javascript" type="text/javascript" src="../../js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/ddmegamenu.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/jquery.easing.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/script.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/yhoc_js1.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/yhoc_js.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/ga.js"></script>
</head>

<body>
<div id="wallpaper">
	<div>
		<div id="logo"><img src="../../images/logo.jpg" width="419" height="70" /></div>
		<div>
			<label for="textfield"></label>
			<input name="textfield" type="text" class="search" id="textfield" value="Nhập thông tin cần tìm" />
		</div>
		<br clear="all" />
	</div>

<!-- MENU START-->
	<div>
		<ul id="solidmenu" class="solidblockmenu"  style="background:url(../../images/bgmenu.jpg)">
			<li><a href="#">Trang chủ</a></li>
			<li><a href="#" rel="thuongthuc" class="trigger">bệnh và triệu chứng</a></li>
			<li><a href="#">sống khỏe</a></li>
			<li><a href="#">mẹ và bé</a></li>
			<li><a href="#" >trẻ em</a></li>
			<li><a href="#" rel="treem" class="trigger">thanh niên</a></li>
			<li><a href="#" rel="chuyende" class="trigger">Người lớn tuổi</a></li> 
			<li><a href="#">about us</a>			
			<li><br clear="all" /></li>
		</ul>
		
		<div id="thuongthuc" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Kiến thức căn bản</a></li>
				<li><a href="#" >Bách khoa toàn thư</a></li>
				<li><a href="#" >Khảo cứu tình dục học</a></li>
				<li><a href="#" >Giới tính tuổi hoa</a></li> 
				<li><a href="#" >Sinh con theo ý muốn</a></li> 
				<li><a href="#" >Bác sĩ giải đáp "chuyện ấy"	</a></li>
				<li><a href="#" >Các vấn đề khác</a></li>
			</ul>
		</div>
		
		<div id="treem" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Đầu Mặt Cổ</a></li>
				<li><a href="#" >Ngực Bụng</a></li> 
				<li><a href="#" >Da Cơ Xương</a></li>
				<li><a href="#" >Sinh dục - Bài tiết</a></li>
				<li><a href="#" >300 câu hỏi cho bố mẹ trẻ</a></li>
			</ul>
		</div>
        
        <div id="chuyende" class="mega solidblocktheme" style="width:200px">
			<ul class="ulmenu">
				<li ><a href="#" >Tăng huyết áp</a></li>
				<li><a href="#" >Bệnh Quai bị</a></li> 
				<li><a href="#" >Đái tháo đường</a></li>
				<li><a href="#" >U xơ tử cung</a></li>
				<li><a href="#" >Công dụng của Mật ong</a></li>
			</ul>
		</div>
	</div>
<!-- MENU END-->
	
	
	<!-- <div id="breadcrumb">
		<span class="current-time">Thứ Tư, ngày 13 tháng 12, 2012</span>Bạn đang ở<span class="home"></span> trang chủ<br clear="all" />
	</div> -->
	
	<div>
		<div id="content">
			<div id="banner">
      <!------------------------------------- IMAGE START ------------------------------------------------->
				<div id="lofslidecontent45" class="lof-slidecontent" style="width:651px; height:392px;">
					<div class="preload" style="z-index: 99997; display: none; ">
						<div></div>
					</div>
					<div class="lof-main-outer" style="width:651px; height:392px;">
						<div onclick="return false" href="" class="lof-previous">Previous</div>
						<ul class="lof-main-wapper lof-opacity">
							<li style="opacity: 1; "> <img src="../../images/banner.jpg" title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Hướng Dẫn Tránh Ngộ Độc Khí Carbon Monoxide</div>
			Carbon monoxide (CO) là một chất hơi không mùi, không màu và có thể gây ra bệnh tật hoặc chết chóc cấp kỳ nếu bạn hít phải
Khi những vụ cúp điện xảy ra trong những tình huống khẩn cấp, ...
								</div>
							</li>
							<li style="opacity: 1; "> <img src="../../images/banner.jpg" title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Hướng Dẫn Tránh Ngộ Độc Khí Carbon Monoxide</div>
			Carbon monoxide (CO) là một chất hơi không mùi, không màu và có thể gây ra bệnh tật hoặc chết chóc cấp kỳ nếu bạn hít phải
Khi những vụ cúp điện xảy ra trong những tình huống khẩn cấp, ...
								</div>
							</li>
							<li style="opacity: 1; "> <img src="../../images/banner.jpg" title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Hướng Dẫn Tránh Ngộ Độc Khí Carbon Monoxide</div>
			Carbon monoxide (CO) là một chất hơi không mùi, không màu và có thể gây ra bệnh tật hoặc chết chóc cấp kỳ nếu bạn hít phải
Khi những vụ cúp điện xảy ra trong những tình huống khẩn cấp, ...
								</div>
							</li>
							<li style="opacity: 1; "> <img src="../../images/banner.jpg" title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Hướng Dẫn Tránh Ngộ Độc Khí Carbon Monoxide</div>
			Carbon monoxide (CO) là một chất hơi không mùi, không màu và có thể gây ra bệnh tật hoặc chết chóc cấp kỳ nếu bạn hít phải
Khi những vụ cúp điện xảy ra trong những tình huống khẩn cấp, ...
								</div>
							</li>
								
							<li style="opacity: 1;"> <img src="../../images/banner2.jpg" title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Bệnh đại tràng chức năng</div>
                Còn được gọi là hội chứng ruột kích thích, rối loạn chức năng đại tràng, viêm đại tràng co thắt... Các rối loạn tiêu hóa mạn tính tái đi tái lại. 
Tại Việt Nam, 30-40% bệnh nhân đến khám chuyên khoa tiêu hóa bị viêm đại tràng co thắt. 
								</div>
							</li>
            
							<li style="opacity: 1; "> <img src="../../images/banner3.jpg" width="651" height="392"title="Newsflash " />
								<div class="lof-main-item-desc" style="display:none;">
									<div class="title_lof-main-item-desc">Trẻ đẹp mỗi ngày nhờ đồ uống chứa chất chống ôxy hóa</div>
               Những loại đồ uống giàu chất chống ôxy hóa giúp bạn chống lão hóa và lưu giữ nét tươi trẻ dài lâu bởi chúng bảo vệ cơ thể khỏi tác động của các gốc tự do.
								</div>
							</li>
						</ul>
						<div onclick="return false" href="" class="lof-next">Next</div>
					</div>
				</div>
<!------------------------------------- IMAGE END ------------------------------------------------->
     
      
      
			</div>
<!------------------------------------- BÀI MỚI START ------------------------------------------------->
			<div id="timhieudaitrang">   
				<h4>Bài mới</h4>
				<div>
					<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
						<li style=" float: left; width: 136px;" class="item">
							<a href="#" rel="bookmark"><img src="../../images/01.jpg"  width="135" height="103" border="0" /></a>
							<a class="title" href="" title="" >Vitamin D giảm mất trí nhớ</a>
						</li>
						<li style=" float: left; width: 136px;" class="item"> 
							<a href="#"><img src="../../images/02.jpg" alt="" border="0" /></a>
							<a class="title" href="#" title="!">Tác dụng kỳ diệu của thiền</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#"><img src="../../images/03.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="" >Lưu giữ nét thanh xuân nhờ giấc ngủ</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#" rel="bookmark"><img src="../../images/034.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="Ô nhiễm ánh sáng và nguy cơ ung thư vú">Làm việc nhà giúp bạn sống lâu hơn</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#" rel="bookmark"><img src="../../images/034.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="Ô nhiễm ánh sáng và nguy cơ ung thư vú">Làm việc nhà giúp bạn sống lâu hơn</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#" rel="bookmark"><img src="../../images/034.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="Ô nhiễm ánh sáng và nguy cơ ung thư vú">Làm việc nhà giúp bạn sống lâu hơn</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#" rel="bookmark"><img src="../../images/034.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="Ô nhiễm ánh sáng và nguy cơ ung thư vú">Làm việc nhà giúp bạn sống lâu hơn</a> 
						</li>
						<li style="overflow: hidden; float: left; width: 136px;" class="item"> 
							<a href="#" rel="bookmark"><img src="../../images/034.jpg" alt="" border="0" /></a> 
							<a class="title" href="#" title="Ô nhiễm ánh sáng và nguy cơ ung thư vú">Làm việc nhà giúp bạn sống lâu hơn</a> 
						</li>
					</ul>
					<br clear="all" />
				</div>
			</div>
<!------------------------------------- BÀI MỚI END ------------------------------------------------->
		</div>

<!------------------------------------- SIDEBAR START------------------------------------------------->		
		<div id="sidebar">
		<!------------------------------------- 6 MENU START------------------------------------------------->		
			<div class="rowsidebar">
				
				<div class="content_side">
					
						<div class="content_khambenh"><img src="../../images/s01.jpg" width="135" height="105" />
							<div><a href="#">Bênh và triệu chứng</a></div>
						</div>
						<div class="content_khambenh"><img src="../../images/s02.jpg" width="135" height="105" />
							<div><a href="#">Sống khỏe</a></div>
						</div>
						
					
						<div class="content_khambenh"><img src="../../images/s03.jpg" width="135" height="105" />
						  <div><a href="#">Mẹ và bé</a></div>
						</div>
						<div class="content_khambenh"><img src="../../images/s04.jpg" width="135" height="105" />
						  <div><a href="#">Trẻ em</a></div>
						</div>
						
					
						<div class="content_khambenh"><img src="../../images/s05.jpg" width="135" height="105" />
						  <div><a href="#">Thanh niên</a></div>
						</div>
						<div class="content_khambenh"><img src="../../images/s06.jpg" width="135" height="105" />
						  <div><a href="#">Người lớn tuổi</a></div>
						</div>
						<br clear="all" />
					
				</div>
			</div>
		<!------------------------------------- 6 MENU END------------------------------------------------->		
		
		
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC START------------------------------------------------->		
			
			
			<div class="rowsidebar"><strong><a href="#">Chủ đề nỗi bật</a></strong>
				<div class="content_side">
				  <ul>
					<li><a href="#"><strong>Những sai lầm khi uống trà</strong></a></li>
					<li><a href="#"><strong>Bụng - Chứng mất nước</strong></a></li>
					<li><a href="#"><strong>54 triệu người trên thế giới rối loạn tâm thần</strong></a></li>
					<li><a href="#"><strong>Tác dụng không ngờ của quả anh đào với sức khỏe</strong></a></li>
					<li><a href="#"><strong>Kỹ thuật mới điều trị bệnh xơ gan</strong></a></li>
					<li><a href="#"><strong>Cúm gia cầm lại xuất hiện trong dịp Tết</strong></a></li>
					<li><a href="#"><strong>Cúm gia cầm lại xuất hiện trong dịp Tết</strong></a></li>
					<li><a href="#"><strong>Cúm gia cầm lại xuất hiện trong dịp Tết</strong></a></li>
					<li><a href="#"><strong>Cúm gia cầm lại xuất hiện trong dịp Tết</strong></a></li>
					<li><a href="#"><strong>Cúm gia cầm lại xuất hiện trong dịp Tết</strong></a></li>
				  </ul>
				<br clear="all" />
				</div>
			</div>
			<br clear="all" /> 
		</div>
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC END------------------------------------------------->		
<!------------------------------------- SIDEBAR END------------------------------------------------->		
		<br clear="all" />
	</div>
</div>


<div id="footer">
	<div >©2002-2012. Copyright by Y tế Cộng Đồng
		<br />
		Home  Chẩn đoán béo phì   Bệnh án trực tuyến   Lượng giá Stress   Danh bạ phòng mạch    Liên hệ
		<br clear="all" />
	</div>
</div>


        
        </body>
</html>
