<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<!-- MENU END-->
	
	
	<!-- <div id="breadcrumb">
		<span class="current-time">Thứ Tư, ngày 13 tháng 12, 2012</span>Bạn đang ở<span class="home"></span> trang chủ<br clear="all" />
	</div> -->
	
	<div>
		<div id="content">
			<div id="banner">
				 <div id="slider_container_3">
					<div id="SliderName_3" class="SliderName_3"> <!-- đối tượng truyền vào phải là div -->
						__ANHTRANGCHU__
					</div>
					<div class="c"></div>
					
					<!-- Importance Script -->
					<script type="text/javascript">
						// khai báo các một tập hợp effect bao gồm name: 'myeffect', hiệu ứng bắt đầu từ(left, top, right , bottom)-> chỉ khai báo một cái thôi ^_^!, có di chuyển hay không, khoảng thời gian cho effect.
						demo3Effect1 = {name: 'myEffect31', top: true, move: true, duration: 400};
						demo3Effect2 = {name: 'myEffect32', right: true, move: true, duration: 400};
						demo3Effect3 = {name: 'myEffect33', bottom: true, move: true, duration: 400};
						demo3Effect4 = {name: 'myEffect34', left: true, move: true, duration: 400};
						demo3Effect5 = {name: 'myEffect35', rows: 3, cols: 9, delay: 50, duration: 100, order: 'random', fade: true};
						demo3Effect6 = {name: 'myEffect36', rows: 2, cols: 4, delay: 100, duration: 400, order: 'random', fade: true, chess: true};
						
						effectsDemo3 = [demo3Effect1,demo3Effect2,demo3Effect3,demo3Effect4,demo3Effect5,demo3Effect6,'blinds'];

						var demoSlider_3 = MySlider.slider({container: 'SliderName_3', width: 650, height: 390, effects: effectsDemo3, 
						display: { 
							autoplay: 3000,
							always_show_loading: 200, // testing loading mode
							description: {background: '#ffffff', opacity: 0.5, height: 80, position: 'bottom'}, // image description box settings
							buttons: {opacity: 1, prev: {className: 'SliderNamePrev_3', label: ''}, next: {className: 'SliderNameNext_3', label: ''}}, // Next/Prev buttons settings
							}
						});
					</script>

					<div class="c"></div>
				</div>
      
			</div>
<!------------------------------------- BÀI MỚI START ------------------------------------------------->
			<div id="timhieudaitrang">   
				<h4>Bài mới</h4>
				<div>
					<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
						<?php include("__DUONGDAN__/trangchu/vi/baivietmoi.html")?>
					</ul>
					<br clear="all" />
				</div>
			</div>
<!------------------------------------- BÀI MỚI END ------------------------------------------------->
		</div>

<!------------------------------------- SIDEBAR START------------------------------------------------->		
		<div id="sidebar">
		<!------------------------------------- 6 MENU START------------------------------------------------->		
			<div class="rowsidebar">
				<strong><a href="#">Các bài viết nổi bậc</a></strong>
				<div class="content_side">
					__SIDEBARMENU__	
					<br clear="all" />					
				</div>
			</div>
		<!------------------------------------- 6 MENU END------------------------------------------------->		
		
		
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC START------------------------------------------------->		
			
			
			<div class="rowsidebar">
				<strong><a href="#">Một số dự án đã hoàn thành</a></strong>
				<div class="content_side">
				    __CHUDENOIBAC__
					<br clear="all" />				  
				
				</div>
			</div>
			<br clear="all" /> 
		</div>
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC END------------------------------------------------->		
<!------------------------------------- SIDEBAR END------------------------------------------------->		
		<br clear="all" />
	</div>
</div>

<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
