<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	__TITLE__

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<!-- MENU END-->
	
	
	<!-- <div id="breadcrumb">
		<span class="current-time">Thứ Tư, ngày 13 tháng 12, 2012</span>Bạn đang ở<span class="home"></span> trang chủ<br clear="all" />
	</div> -->
	
	<div>
		<div id="content">
			<div id="banner">
      <!------------------------------------- IMAGE START ------------------------------------------------->
				<div id="lofslidecontent45" class="lof-slidecontent" style="width:651px; height:392px;">
					<div class="preload" style="z-index: 99997; display: none; ">
						<div></div>
					</div>
					<div class="lof-main-outer" style="width:651px; height:392px;">
						<div onclick="return false" href="" class="lof-previous">Previous</div>
						<ul class="lof-main-wapper lof-opacity">
							__ANHTRANGCHU__
						</ul>
						<div onclick="return false" href="" class="lof-next">Next</div>
					</div>
				</div>
<!------------------------------------- IMAGE END ------------------------------------------------->
     
      
      
			</div>
<!------------------------------------- BÀI MỚI START ------------------------------------------------->
			<div id="timhieudaitrang">   
				<h4>Bài mới</h4>
				<div>
					<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
						<?php include("__DUONGDAN__/trangchu/vi/baivietmoi.html")?>
					</ul>
					<br clear="all" />
				</div>
			</div>
<!------------------------------------- BÀI MỚI END ------------------------------------------------->
		</div>

<!------------------------------------- SIDEBAR START------------------------------------------------->		
		<div id="sidebar">
		<!------------------------------------- 6 MENU START------------------------------------------------->		
			<div class="rowsidebar">
				<strong><a href="#">Các bài viết nổi bậc</a></strong>
				<div class="content_side">
					__SIDEBARMENU__	
					<br clear="all" />					
				</div>
			</div>
		<!------------------------------------- 6 MENU END------------------------------------------------->		
		
		
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC START------------------------------------------------->		
			
			
			<div class="rowsidebar">
				<strong><a href="#">Một số dự án đã hoàn thành</a></strong>
				<div class="content_side">
				    __CHUDENOIBAC__
					<br clear="all" />				  
				
				</div>
			</div>
			<br clear="all" /> 
		</div>
		<!------------------------------------- CHỦ ĐỀ NỔI BẬC END------------------------------------------------->		
<!------------------------------------- SIDEBAR END------------------------------------------------->		
		<br clear="all" />
	</div>
</div>

<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
