<!--NEWITEM-->
<li class="item1" style="padding-bottom: 25px;">
	<a href="__LINK__" rel="bookmark"><img src="__IMAGE__"  width="125px" height=auto border="0" style="float: left; padding-right: 12px;" /></a>
	<a class="title" href="__LINK__" title="" >__NAME__</a>
	<?php include("__SHAREBUTTON__")?>
	<div>
		Biên soạn: <a href="__LINKNGUOIDICH__">__DANHXUNGNT____NGUOIDICH__</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hiệu đính: <a itemprop="editor" href="__LINKNGUOIHIEUDINH__">__DANHXUNGHD____NGUOIHIEUDINH__</a></br>
		Ngày đăng: __NGAYTAO__
	</div>
	<p>__MOTANGAN__</p>
</li>