				<div class="recentNews" id="lam-cha-me" style="margin-top:0px;">
					<p class="date">
						<span class="month">
						__MONTH__              </span>
						<span class="day">
						__DAY__              </span>
						<span class="year">
						__YEAR__              </span>
					</p>
					<div class="primaryContent">
						<h2 class="subHeading">
							<a class="topbutton" href="#mucluc"></a>
							<a href="__LINK__">__NAME__</a>
						</h2>
						<div class="news">
					﻿		<a href="__LINK__">
								<div class="box-image duan">
									<img class="" src="__IMAGE__" alt="__NAME__"/>
									<b class="bl"></b>
									<b class="br"></b>
								</div>
							</a>
							<div class="newsitem">
								<div class="thongtinhieudinh blog">
									Biên soạn: <a>__DANHXUNGNT__ </a><a itemprop="author" href="__LINKNGUOIDICH__">__NGUOIDICH__</a><br>
									Hiệu đính: <a itemprop="editor" href="__LINKNGUOIHIEUDINH__">__DANHXUNGHD__ __NGUOIHIEUDINH__</a><br>
									Ngày đăng: <span itemprop="datePublished">__NGAYTAO__</span>								
									<div style=" clear: both; float: right; margin-top:-30px;">
										<?php include("__SHAREBUTTON__")?>
										<p style="display:block; font-style: italic; font-size: 11px;">
											Số lượt xem: <span itemprop="interactionCount">__SOLUOTXEM__</span>								
										</p>
									</div>
								</div>
								<div>
									<p style="text-align: justify;">__MOTANGAN__</p>
								</div>
							</div>
						</div>
					</div>
				</div>
