<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/__ITEMTYPE__" >

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="Y Học Cộng Đồng Blogs cập nhật thông tin chăm sóc sức khỏe mới nhất" />	
	<title>Blogs Y Học Cộng Đồng</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="blog.yhoccongdong.com"/>
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="Blogs Y Học Cộng Đồng"/>
	<meta property="og:url" itemprop="url"  content="blog.yhoccongdong.com"/>
	<meta property="og:description" itemprop="description" content="Y Học Cộng Đồng Blogs cập nhật thông tin chăm sóc sức khỏe mới nhất"/>
	<meta property="og:image" content="http://yhoccongdong.com/images/logo_.png"/>
	<meta property="og:type" content="website" />
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="blog.yhoccongdong.com"/>
	<meta property="twitter:creator" content="@yhoccongdong">
	<meta property="twitter:site" content="@yhoccongdong">
	<meta property="twitter:url" content="blog.yhoccongdong.com">

<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>
	<article id="top">
		<div style="float: left; width:640px; margin-top: 35px;">
			<section id="content_center">
				__BLOG_ITEMS__
			</section>
		</div>
		
		<section id="rightslide">
			<div class="img_news">
				<div class="titlemodule">
					<div class="titlespan">
						Một số loạt bài nổi bật
					</div>
				</div>
				__CHUDENOIBAC__
			</div>
<!--			<div class="titlemodule">
				<div class="titlespan">
					Bác sĩ & thành viên tiêu biểu
				</div>
			</div>

 			<div style="margin: 0 auto; margin-top: 10px;"> 
				<iframe marginwidth="0" marginheight="0" allowtransparency="no" src="trangchu_bacsi.htm" frameborder="0" height="320" scrolling="no" width="100%"></iframe>
			</div> -->
					
			<div class="img_news">
				<div class="titlemodule">
					<div class="titlespan">
						Các chủ đề sức khỏe hay
					</div>
				</div>
				__SIDEBARMENU__
			</div>
		</section>
	</article>
<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>