	<a rel="nofollow" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=__URL__" onfocus="this.blur();" title="Facebook"> <img src="__DOMAIN__/images/icon/facebook16.gif" alt="Facebook"> </a>
	<a rel="nofollow" href="https://plus.google.com/share?url=__URL__" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<img src="__DOMAIN__/images/icon/googleplus16.png" alt="Share on Google+"/>
	</a>
	<a rel="nofollow" href="https://twitter.com/intent/tweet?text=__TITTLE__&url=__URL__"><img src="__DOMAIN__/images/icon/twitter16.png" alt="Tweet" /></a>