<div id="slide_container">
	<div id="example">
		<img src="../../images/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon">
		<div id="slides">
			<div class="slides_container">
				<a href="__LINKFIRSTIMAGE__" title="__FIRSTTITLE__" target="_blank"><img src="__LINKFIRSTIMAGE__" width="570" height="auto"></a>				
				__IMAGE__
			</div>
			<a href="#" class="prev"><img src="../../images/arrow-prev.png" width="24" height="43" alt="Arrow Prev" style="padding-top: 65;"></a>
			<a href="#" class="next"><img src="../../images/arrow-next.png" width="24" height="43" alt="Arrow Next" style="padding-top: 65;"></a>
		</div>
		<img src="../../images/example-frame.png" width="739" height="341" alt="Example Frame" id="slide_frame">
	</div>
</div>