<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="__MOTANGAN__"/>	
	<title>__TUADETHONGTIN__</title>	
	<meta name="google-site-verification" content="hOscgIY8rgaYMJfzp5AbEjPBimZ2uKazVOj721vELc4" />
	<meta name="robots" content="index,follow,noodp"/>
	<link rel="canonical" href="__URL__"/>
	<meta content="100005119690063" property="fb:admins"/>
	<meta content="__TUADETHONGTIN__" property="og:title"/>
	<meta content="__URL__" property="og:url"/>
	<meta content="__MOTANGAN__" property="og:description"/>
	<meta content="__HINHBAIVIET__" property="og:image"/>
	<meta content="website" property="og:type"/>
    <meta content="vi_VN" property="og:locale"/>
	<meta content="yhoccongdong.com" property="og:site_name"/>
	<meta content="@yhoccongdong" property="twitter:creator"/>
	<meta content="@yhoccongdong" property="twitter:site"/>
	<meta content="__URL__" property="twitter:url"/>

<?php include("__DUONGDAN__/trangchu/vi/header1.html")?>

<!-- MENU END-->
<script type="text/javascript" src="__DOMAIN__/js/printpage.js"></script>
<script type="text/javascript" src="__DOMAIN__/js/ts-fab.js"></script>
<!--Script button Like-->
<div id="fb-root"></div>
<script type="text/javascript">
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--Script button G+-->	
	<script type="text/javascript">
	  window.___gcfg = {lang: 'vi'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
<!--Script button Twitter-->	
	<script type="text/javascript">
		!function(d,s,id)
			{var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js,fjs);}}
		(document, 'script', 'twitter-wjs');
	</script>
<!--Giang_end-->
	<article class="thongtin" style="margin-top: 35px;margin-bottom: 35px;">
		<section class="thongtinleft">
			<?php include("__THONGTINNGUOIVIET__")?>
				<br/>
				<header class="secondary-header">
					<a href="__LINKDUAN__"><strong style="padding-left: 10px; ">__DUAN__</strong>
						<p style="text-align:right;  font-style:italic; padding-right: 5px;clear: left;">
							<img src="http://yhoccongdong.com/images/multi_document.png" alt="icon multi document"/>
							__SOLUONGBAIVIET__ 
						</p>
					</a>
				</header>
				<div class="thongtinleftmenu">
					<ul>
						<?php include("__BAIVIET_CUNGCHUDE__")?>
					</ul>
				</div>
			</section>
		</section>
		<div style="float: right; width:75%; border-left: 1px solid #f1f1f1;">
			<section class="thongtincenter">
			<?php include("data/linktree.html")?>
				<div id="print">
					<h1 itemprop="name">__TUADETHONGTIN__</h1>	
					<div class="thongtinhieudinh">
						Biên soạn: <a>__DANHXUNGNT__ </a><a itemprop="author" href="__LINKNGUOIDICH__" rel="author">__NGUOIDICH__</a><br/>
						Hiệu đính: <a itemprop="editor" href="__LINKNGUOIHIEUDINH__">__DANHXUNGHD__ __NGUOIHIEUDINH__</a><br/>
						Ngày đăng: <span itemprop="datePublished">__NGAYTAO__</span>
						<div style="width: 160px; clear: both; float: right; margin-top:-30px; text-align:center;">
							<?php include("share_button16.html")?>
							<a target="_blank" onclick="printpage('print')">
								<img alt="print" src="__DOMAIN__/images/icon/print16.gif" style="cursor: pointer; border: 0; align: bottom;"/>
							</a>
							<p style="display:block; font-style: italic; font-size: 11px;">
								Số lượt xem: <span itemprop="interactionCount">
												<?php 
													include("__DUONGDAN__/count.php");
													echo update_viewer(__ID__);
												 ?> 
											</span>
							</p>
						</div>
					</div>
					<div style="clear:both;font-size: 16px; line-height:20px; padding-top: 10px;">
						<strong style="font-style:italic">Mô tả: </strong>
						<em>__MOTANGAN__</em>
					</div>
					
					<?php include("menu.html")?>
				
					<div id="noidungthongtin" style="padding-top:15px; line-height: 25px; max-width:700px; display;block; clear: both; text-align:justify;">	
						__NOIDUNG_THONGTIN__
					</div>
				</div>
			</section>
			<div style="width: 98%; display: inline-block; margin-left: 10px;">
				<header class="secondary-header">
					<img style="float:left" src="http://yhoccongdong.com/images/bullet-header.png" alt="bullet-header"/>
					<strong style="padding-left: 10px;">HÃY CHIA SẺ THÔNG TIN HỮU ÍCH NÀY ĐẾN NGƯỜI THÂN VÀ BẠN BÈ CỦA BẠN</strong>
				</header>
				<!--?php include("share_button32.html")?>
				<a target="_blank" onclick="printpage('print')">
					<img alt="print" src="__DOMAIN__/images/icon/print32.png" style="cursor: pointer;" border="0" align="bottom"></img>
				</a-->
				<div class="socialize-containter" style="background-color:#FFF; border: 1px #327539;border-style:solid; padding: 7px 0 10px 0; width:99.5%; display:inline-block; font-size:14px; margin-left: 0px; margin-top:20px">
					<div style="width:300px;border-right:1px solid #336699;float: left;padding-right:10px;margin-right:10px">								
						<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);"> Ủng hộ bài viết trên FB, G+</div>
						<div class="fb-like" style="margin-right: 5px;" data-href="__URL__" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
						<div style="margin-right:10px" class="fb-share-button" data-href="__URL__" data-type="box_count"></div>
						<div  class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="__URL__"></div>
						<div class="g-plusone" data-size="tall" data-href="__URL__"></div>
	
					</div>
					<div style="width:380px;float:left;">					
						<div style="padding:5px 0px 10px; font-weight: bold; color: rgb(15, 73, 114);">Theo dõi Y Học Cộng Đồng trên mạng xã hội</div>
						 <div style="margin-right:5px" class="fb-like" data-href="https://www.facebook.com/yhoccongdong" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
						<div style="margin-right:10px" class="fb-follow" data-href="http://www.facebook.com/yhoccongdong.quanly" data-colorscheme="light" data-layout="box_count" data-show-faces="true"></div>
					<div style="margin-right:0px; display:inline-block;">
						<div class="g-follow" data-annotation="vertical-bubble" data-height="20" data-href="https://plus.google.com/+yhoccongdong" data-rel="publisher"></div></div>
						<div class="g-plusone" data-size="tall" data-href="https://plus.google.com/+yhoccongdong"></div>
					</div>
				</div>
			</div>
				<div style="width: 98%; display: inline-block; margin-left: 10px;">		
				<?php include("__AUTHORBOX__")?>
				</div>
				<div class="social_block">
					<header class="secondary-header">
						<strong style="padding-left: 10px;">Các bài viết liên quan</strong>
					</header>
					<div class="boxChuyentrang">
						<div id="mpfZone_8" class="column">
							<div>
								<iframe src="__BAIVIETCUNGDUAN_END__" style="height: 240px; width: 731px; overflow:hidden; border: none;"></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="social_block">
					<header class="secondary-header">
						<img style="float:left" src="http://yhoccongdong.com/images/bullet-header.png" alt="bullet-header"/>
						<strong style="padding-left: 10px;">Hãy bình luận và chia sẻ kinh nghiệm của bạn</strong>
					</header>
					<br/>
					<div id="con_comment">
						<div class="fb-comments" data-href="__URL__" data-width="706" data-num-posts="5">
						</div>
					</div>
				</div>
				<div class="social_block">
					<header class="secondary-header">
						<strong style="padding-left: 10px;">Từ khóa liên quan</strong>
					</header>
					<div style="margin: 0 auto; margin-bottom:10px; margin-top:10px;">
						__LIST_TAGS__
					</div>
				</div>
		</div>
	</article>
<?php include("__DUONGDAN__/trangchu/vi/footer1.html")?>
