<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/NewsArticle">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="http://yhoccongdong.com/images/Yhoccongdong.ico" type="image/x-icon"/>
	<meta name="description" content="__MOTA__" />	
	<title>__TUADETHONGTIN__</title>	
	<meta name="robots" content="index,follow,noodp" />
	<link rel="canonical" href="<?php echo curPageURL(); ?>"/>
	<meta name="copyright" content="Copyright © 2012 by YHocCongDong.com" />
	<meta name="distribution" content="Global" />	
	<meta property="fb:admins" content="100005119690063" />
	<meta property="og:title" itemprop="headline" content="__TUADETHONGTIN__"/>
	<meta property="og:url" itemprop="url"  content="<?php echo curPageURL(); ?>"/>
	<meta property="og:description" itemprop="description" content="__MOTA__"/>
    <meta property="og:locale" itemprop="inLanguage" content="vi_VN" />
	<meta property="og:site_name" content="YHocCongDong.com"/>
	<meta property="og:image" itemprop="thumbnailUrl" content="__HINHBAIVIET__"/>
	<meta property="article:publisher" content="yhoccongdong.com" />
	<meta property="article:published_time" itemprop="datePublished" content="__NGAYTAO__" />
	<meta property="article:author" content="__NGUOIDICH__" />

<?php include("__DUONGDAN__/trangchu/vi/header.html")?>
<!-- MENU END-->
<div id="fb-root"></div>
<!--Script button Like-->
<script>
	(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=546475572029540";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
</script>
<!--Script button G+-->	
	<script type="text/javascript">
	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
<!--Script button Twitter-->	
	<script>
		!function(d,s,id)
			{var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js,fjs);}}
		(document, 'script', 'twitter-wjs');
	</script>
<!--Google Analytics Social Button Tracking -->
	<script type="text/javascript" src="https://code.google.com/p/analytics-api-samples/source/browse/trunk/src/tracking/javascript/v5/social/ga_social_tracking.js"></script>
<!--#Giang_end#-->
<script>
	$('#jump_to_loc').click(function(){
		var jump = $(this).attr('href');
		var new_position = $('#'+jump).offset();
		window.scrollTo(new_position.left,new_position.top);
		return false;
	});
</script>
<?php
	function curPageURL() {
	 $pageURL = 'http';
	 #Giang_1112#if ($_SERVER["HTTPS"] == "on") {$pageURL .= "s";}
	 if (!empty($_SERVER['HTTPS'])) {$pageURL .= "s";}  
	 $pageURL .= "://";
	 if ($_SERVER["SERVER_PORT"] != "80") {
	  $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
	 } else {
	  $pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
	 }
	 return $pageURL;
	}
?>
	<div id="noidung">
	<table class="noidung" cellpadding="0" cellspacing="0">
	<tr>
	<td class="left">
	<!--h2>
		<a href="__LINKNGUOIDICH__"><img src="__HINHNGUOIDICH__" width="150"/></a>
		<div style="font-size: 15px;padding-top: 8px;line-height: 18px;">
			<a href="__LINKNGUOIDICH__">__DANHXUNGNT____NGUOIDICH__ </a></br>
			__TRINHDOCHUYENMON__</br>
			__NGANH____CHUYENNGANH__</br>			
		</div>
	</h2-->
	<?php include("__THONGTINNGUOIVIET__")?>
	<h3 >
	__CHUDE__
	</h3>	
	<ul>
		<?php include("__BAIVIET_CUNGCHUDE__")?>
		
	</ul>
	</td>
	<td class="right">
	__LINKTREE__
	<h1 itemprop="name">__TUADETHONGTIN__</h1>	
	<table style="padding-left:60px;width: 100%;">
		<tr>
			<td width="70%" style="text-align: left; font-style: italic;color: rgb(109, 105, 105);font-size: 11px;">
				<div>
					Biên soạn: <strong style="color: #0F4972">__DANHXUNGNT__ </strong><a itemprop="author" href="__LINKNGUOIDICH__" >__NGUOIDICH__</a></br>
					Hiệu đính: <a itemprop="editor" href="__LINKNGUOIHIEUDINH__">__DANHXUNGHD____NGUOIHIEUDINH__</a></br>
					Ngày đăng: <span itemprop="datePublished">__NGAYTAO__</span>
				</div>
			</td>
					
			<td width="30%">
				<table>
					<tr>
						<td style="text-align: right">
							<script type="text/javascript">
								function fbshare()
								{
									window.open ("http://www.facebook.com/share.php?u=<?php echo curPageURL(); ?>","Facebook_Share","menubar=1,resizable=1,width=900,height=500");								
								}
							</script>
							<a href="javascript:fbshare()">
								<img src="http://yhoccongdong.com/images/Share.png" width="51px" height="20px"/>
							</a>
							<iframe src="//www.facebook.com/plugins/like.php?href=<?php echo curPageURL(); ?>&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=546475572029540" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>							
						</td>
					</tr>
					<tr>
						<td>
							<div style="font-style: italic;color: rgb(109, 105, 105);  font-size: 11px;">								
								Số lượt xem: <span itemprop="interactionCount">
											<?php 
												#$string = curPageURL();
												#$res = explode('/', $string);
												#echo '<pre>'; print_r($res); echo '<pre/>';
												#$string_page = explode('-', $res[count($res)-1]);
												#$kq = explode('.',$string_page[count($string_page)-1]);
												#$baiviet_id = $kq[0];
												include("__DUONGDAN__/count.php");
												echo update_viewer(__ID__);
											 ?> </span>
							</div>
						</td>
					</tr>
				</table>						
			</td>
		</tr>
	</table>	
	<div style="line-height: 20px;max-width: 700px;" itemprop="articleBody">	
__NOIDUNG_THONGTIN__
	</div>
	<div div style="text-align: right; font-style: italic;">
		<a href="__NGUONBAIVIET__">__NGUONBAIVIET__</a>
	</div>
	<!--#Giang_start#-->
	<div class="socialize-containter" style="background-color:#DDE8F4; border: 3px double #ABC5E4; padding: 8px 11px 6px">
		<div> Hãy ủng hộ cho Y Học Cộng Đồng bằng cách bấm vào các trang mạng xã hội sau:</div></br>
			<!--Google+--> 
		<div class="g-plusone" data-size="medium"></div>
			<!--Facebook Like--> 
		<div class="fb-like" data-href="<?php echo curPageURL(); ?>" data-width="60" data-height="20" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
			<!--Twitter--> 
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="yhoccongdong" data-related="yhoccongdong" data-hashtags="Yhọccộngđồng" data-dnt="true">Tweet</a>
	</div>
	<!--#Giang_end#-->
	
	<div id="comment">
		<div class="cm-bar">TAGS</div>
			__LIST_TAGS__
		
		</br></br>
		<div class="cm-bar">Các bài viết liên quan</div>
			<div>
				<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1;">
					<?php include("baivietcungduantrongbaiviet_end.html"); ?>			
				</ul>
				<br clear="all" />
			</div>
			
		
		</br></br>
		<div class="cm-bar">Trao đổi và bình luận</div>
		
		<div id="con_comment">
			<div class="fb-comments" data-href="<?php echo curPageURL(); ?>" data-width="650" data-num-posts="20"></div>			
		</div>		
		
	</table>
	</div>
	<!--===================================================-->
	</td>
	</tr>
	</table>
	</div>
	</div>
</div>
<!--Run Tracking GA Social-->
<script>_ga.trackSocial();</script>
<?php include("__DUONGDAN__/trangchu/vi/footer.html")?>
